<div class="content-container">
        <mat-card class="change-card">
          <mat-card-content>
      
            <mat-card-title>Passwort ändern</mat-card-title>
            <mat-divider></mat-divider>

                <form [formGroup]="changeFormGroup" id="change-form" (ngSubmit) = "onSubmit()">
    
                    <p>
                      <mat-icon class="change-icon">lock</mat-icon>  
                      <mat-form-field>
                        <input [type]="hide_pw1 ? 'password' : 'text'" id="passwordold" name="passwordold" matInput placeholder="Altes Passwort" formControlName="pwdOld">
                        <mat-icon matSuffix (click)="hide_pw1 = !hide_pw1">{{hide_pw1 ? 'visibility' : 'visibility_off'}}</mat-icon>
                        <mat-error >
                          Bitte ein Passwort mit mind. 6 Zeichen eingeben
                        </mat-error>
                      </mat-form-field>
                    </p>
                    <p>
                        <mat-icon class="change-icon">lock</mat-icon>  
                        <mat-form-field>
                          <input [type]="hide_pw2 ? 'password' : 'text'" id="passwordnew" name="passwordnew" matInput placeholder="Neues Passwort" formControlName="pwdNew">
                          <mat-icon matSuffix (click)="hide_pw2 = !hide_pw2">{{hide_pw2 ? 'visibility' : 'visibility_off'}}</mat-icon>
                          <mat-error>
                                Bitte ein Passwort mit mind. 6 Zeichen eingeben
                          </mat-error>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-icon class="change-icon">lock</mat-icon>
                        <mat-form-field>
                            <input [type]="hide_pw3 ? 'password' : 'text'" id="passwordnew2" name="passwordnew2" matInput placeholder="Neues Passwort wiederholen" formControlName="pwdNew2">
                            <mat-icon matSuffix (click)="hide_pw3 = !hide_pw3">{{hide_pw3 ? 'visibility' : 'visibility_off'}}</mat-icon>
                            <mat-error>
                                Bitte ein Passwort mit mind. 6 Zeichen eingeben
                            </mat-error>
                        </mat-form-field>
                    </p>
                    <br>
                    <button mat-raised-button color="accent" class="change-btn">Passwort zurücksetzen</button>
                </form>
    </mat-card-content>
    </mat-card>
</div>