.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#change-form {
  padding-top: 10px;
}

.change-card {
  max-width: 400px;
  width: 400px;
}

.change-icon {
  vertical-align: middle;
  margin-right: 7px;
}

.change-btn {
  width: 90%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.signup-btn {
  width: auto;
  text-align: center;
  margin-left: 5%;
  margin-right: auto;
  margin-top: 5px;
  color: darkgray;
}

.change-footer {
  display: flex;
  flex-flow: row wrap;
}

mat-form-field {
  width: 90%;
}
