<div class="content-container">
  <h1>Neues Projekt erstellen</h1>
  <mat-vertical-stepper linear [class.navigation-disabled]="busy">
    <mat-step label="Grundlegendes" [stepControl]="formGroup1">
      <form [formGroup]="formGroup1">
        <mat-card class="form-container">
          <mat-card-title>Grundlegendes</mat-card-title>
          <mat-card-content>
            <mat-form-field>
              <input type="text" id="name" name="name" matInput placeholder="Name" required formControlName="name">
            </mat-form-field>
            <mat-form-field>
              <textarea id="description" name="description" matInput placeholder="Beschreibung" formControlName="description"></textarea>
            </mat-form-field>
            <div class="info">
              <h4>Aus bestehendem Projekt erstellen</h4>
              <p>
                Sie können bereits bestehende Projekte als Vorlage für dieses Projekt nutzen. Wählen Sie hierzu über den folgenden Button
                einfach ein Projekt aus, um dessen Daten in die Eingabefelder zu übertragen.
              </p>
              <div class="info-action">
                <button mat-button type="button" color="accent" (click)="openSelectionSheet()">Bestehendes Projekt auswählen</button>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions class="stepper-actions">
            <a mat-button routerLink="">Abbrechen</a>
            <button mat-raised-button color="accent" matStepperNext>Weiter</button>
          </mat-card-actions>
        </mat-card>
      </form>
    </mat-step>
    <mat-step label="Umweltfaktoren" [stepControl]="formGroup2">
      <form [formGroup]="formGroup2">
        <mat-card class="form-container">
          <mat-card-title>Umweltfaktoren</mat-card-title>
          <mat-card-content>
            <mat-form-field>
              <input type="text" id="equityInterest" name="equityInterest" matInput placeholder="Kapitalzinssatz" required formControlName="equityInterest">
            </mat-form-field>
            <mat-form-field>
              <input type="text" id="corporateTax" name="corporateTax" matInput placeholder="Unternehmenssteuersatz" required formControlName="corporateTax">
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions class="stepper-actions">
            <button mat-button matStepperPrevious>Zurück</button>
            <button mat-raised-button matStepperNext color="accent">Weiter</button>
          </mat-card-actions>
        </mat-card>
      </form>
    </mat-step>
    <mat-step label="Zahlungsreihe angeben" [stepControl]="formGroup3">
      <form [formGroup]="formGroup3" (ngSubmit)="createScenario()">
        <mat-card class="form-container" [class.busy]="busy">
          <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
          <mat-card-title>Zahlungsreihe</mat-card-title>
          <mat-card-content>
            <app-accounting-data [editable]="true" (formGroupOutput)="formGroup3 = $event"></app-accounting-data>
          </mat-card-content>
          <mat-card-actions class="stepper-actions">
            <button mat-button matStepperPrevious [disabled]="busy">Zurück</button>
            <button mat-raised-button matStepperNext color="accent" [disabled]="busy">Projekt anlegen</button>
          </mat-card-actions>
        </mat-card>
      </form>
    </mat-step>
  </mat-vertical-stepper>
</div>