<mat-card (mouseover)="hovered = true" (mouseout)="hovered = false" [class.mat-elevation-z8]="hovered" mat-ripple matRippleColor="rgba(0,0,0,0.05)">
  <mat-card-title>
    {{project.name}}
    <button type="button" mat-icon-button [matMenuTriggerFor]="projectMenu" (click)="toggleProjectMenu($event)" (mousedown)="$event.stopPropagation()">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-card-title>
  <mat-menu #projectMenu="matMenu">
    <button mat-menu-item>Exportieren</button>
    <button mat-menu-item (click)="removeProject()">Löschen</button>
  </mat-menu>
  <mat-card-content>{{project.description}}</mat-card-content>
</mat-card>