app-project-card {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    padding: 20px;
    box-sizing: border-box;
}

mat-grid-list {
    margin-left: -20px;
    margin-right: -20px;
}
