<div class="content-container">
  <h1>Alle Projekte</h1>
  <div id="no-data-info" *ngIf="(projectsService.projects$ | async) && (projectsService.projects$ | async).length === 0" [@noDataAnimation]>
    Es existieren aktuell keine Projekte.
  </div>
  <mat-grid-list cols="4" rowHeight="4:3" [@gridAnimation]="(projectsService.projects$ | async)?.length">
    <mat-grid-tile *ngFor="let project of projectsService.projects$ | async">
      <app-project-card [project]="project" [routerLink]="['/project', project.id]"></app-project-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div id="spinner" *ngIf="!(projectsService.projects$ | async)" class="mat-elevation-z6" [@spinnerAnimation]>
<mat-spinner diameter="36"></mat-spinner>
</div>
<a mat-fab color="accent" class="fab-bottom-right" matTooltip="Neues Projekt erstellen" matTooltipShowDelay="500" routerLink="create">
  <mat-icon aria-label="Neues Projekt erstellen">add</mat-icon>
</a>