<p>
  login works!
</p>

<div class="content-container">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-divider></mat-divider>

    <form [formGroup]="stepperFormGroup1">
      <mat-form-field>
        <input type="text" id="username" name="username" matInput placeholder="Benutzername" required formControlName="nameCtrl">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input [type]="hide ? 'password' : 'text'" id="password" name="password" matInput placeholder="Passwort" required formControlName="pwdCtrl">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
    </form>

  </mat-card>
</div>