<div class="content-container">
  <!-- panels for different parts of Scenario-->
  <mat-accordion multi="false" class="headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
      <form [formGroup]="formGroup">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Daten
          </mat-panel-title>
          <mat-panel-description>
            Kopfdaten des Szenarios
            <mat-icon>work</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <table class="mat-table">
          <thead>
            <tr class="mat-header-row">
              <th class="mat-header-cell">Name</th>
              <th class="mat-header-cell">Beschreibung</th>
              <!--<th class="mat-header-cell">Perioden</th>-->
            </tr>
          </thead>
          <tbody>
            <tr class="mat-row">
              <td class="mat-cell">
                <mat-form-field floatLabel="never">
                  <input matInput placeholder="Name" formControlName="name" />
                  <mat-error *ngIf="formGroup.controls.name.hasError('required')">
                    Name wird
                    <strong>benötigt</strong>
                  </mat-error>
                </mat-form-field>
              </td>
              <!--
                        <input matInput placeholder="Name" [formControl]="nameFormControl" (blur)="saveScenario()" [errorStateMatcher]="nameMatcher"
                        />
                        <mat-error *ngIf="nameFormControl.hasError('required')">
                          Name wird
                          <strong>benötigt</strong>
                        </mat-error>
                      </mat-form-field>
                    </td>

                    <td class="mat-cell" floatLabel="never">
                      <mat-form-field>
                        <input matInput placeholder="Beschreibung" [formControl]="descriptionFormControl" (blur)="saveScenario()" />
                      </mat-form-field>
                    </td>
                  -->
              <td class="mat-cell">
                <mat-form-field>
                  <input matInput placeholder="Beschreibung" formControlName="description" />
                </mat-form-field>
              </td>
              <!--
            <td class="mat-cell">
              <mat-form-field floatLabel="never">
                <input matInput type="number" min="1" default="1" placeholder="Periode" [formControl]="periodsFormControl" (blur)="saveScenario()" [errorStateMatcher]="periodsMatcher"
                />
                <mat-error *ngIf="periodsFormControl.hasError('required')">
                  Periode wird
                  <strong>benötigt</strong>
                </mat-error>
              </mat-form-field>
            </td>
            -->
            </tr>
          </tbody>
        </table>
      </form>

      <table class="mat-table">
        <thead>
          <tr class="mat-header-row">
            <th class="mat-header-cell">Eigenkapitalzinsen</th>
            <th class="mat-header-cell">Fremdkapitalzinsen</th>
            <th class="mat-header-cell">Unternehmenssteuer</th>
          </tr>
        </thead>
        <tbody>
          <tr class="mat-row">
            <td class="mat-cell">
              <mat-form-field floatLabel="never">
                <input matInput type="number" min="0" default="0" placeholder="Eigenkapitalzinsen" [formControl]="equityFormControl" (blur)="saveScenario()"
                />
              </mat-form-field>
            </td>

            <td class="mat-cell">
              <mat-form-field floatLabel="never">
                <input matInput type="number" min="0" default="0" placeholder="Fremdkapitalzinsen" [formControl]="outsideFormControl" (blur)="saveScenario()"
                />
              </mat-form-field>
            </td>

            <td class="mat-cell">
              <mat-form-field floatLabel="never">
                <input matInput type="number" min="0" default="0" placeholder="Steuern" [formControl]="taxFormControl" (blur)="saveScenario()"
                />
              </mat-form-field>
            </td>
          </tr>
        </tbody>
      </table>

      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Weiter</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cashflows
        </mat-panel-title>
        <mat-panel-description>
          Details für Cashflowberechnung
          <mat-icon>euro_symbol</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      TODO: Cashflowberechnungstabelle implementieren
      <app-accounting-data [initialData]="forScenario$" (formGroupOutput)="formGroup2 = $event" [editable]="false"></app-accounting-data>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Zurück</button>
        <button mat-button color="primary" (click)="nextStep()">Weiter</button>
      </mat-action-row>
    </mat-expansion-panel>

    <!-- Panel for Comparison-->
    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Auswertung
        </mat-panel-title>
        <mat-panel-description>
          Alle Ergebnisse
          <mat-icon>bar_chart</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="selection">
        <mat-checkbox class="margin" [(ngModel)]="showCvd">CVD</mat-checkbox>
        <mat-checkbox class="margin" [(ngModel)]="showApv">APV</mat-checkbox>
        <mat-checkbox class="margin" [(ngModel)]="showFcf">FCF</mat-checkbox>
        <mat-checkbox class="margin" [(ngModel)]="showFte">FTE</mat-checkbox>
      </div>

      <!-- TODO: Tabellenheader nach links statt mittig -->
      <div class="flex-container">
        <div [hidden]="!showCvd" class="flex-item">
          <mat-divider></mat-divider>
          <h1>Unternehmenswertverteilung</h1>
          <ngx-charts-bar-vertical [results]="data" [scheme]="colorScheme" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis"
            [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel" [barPadding]="barPadding">
          </ngx-charts-bar-vertical>
        </div>

        <div [hidden]="!showApv" class="flex-item">
          <mat-divider></mat-divider>
          <h1>Ergebnis APV</h1>
          <table class="mat-table">
            <thead>
              <tr class="mat-header-row">
                <th class="mat-header-cell">Unternehmenswert</th>
                <th class="mat-header-cell">Bilanzsumme</th>
                <th class="mat-header-cell">Verbindlichkeiten</th>
                <th class="mat-header-cell">TaxShield</th>
              </tr>
            </thead>
            <tbody>
              <tr class="mat-row">
                <td class="mat-cell">{{(forScenario$ | async)?.apvValuationResult.companyValue}}</td>
                <td class="mat-cell">{{(forScenario$ | async)?.apvValuationResult.marketValueTotalAssets}}</td>
                <td class="mat-cell">{{(forScenario$ | async)?.apvValuationResult.totalLiabilities}}</td>
                <td class="mat-cell">{{(forScenario$ | async)?.apvValuationResult.taxShield}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div [hidden]="!showFcf" class="flex-item">
          <mat-divider></mat-divider>
          <h1>Ergebnis FCF</h1>
          <table class="mat-table">
            <thead>
              <tr class="mat-header-row">
                <th class="mat-header-cell">Unternehmenswert</th>
                <th class="mat-header-cell">Bilanzsumme</th>
                <th class="mat-header-cell">Verbindlichkeiten</th>
              </tr>
            </thead>
            <tbody>
              <tr class="mat-row">
                <td class="mat-cell">{{(forScenario$ | async)?.fcfValuationResult.companyValue}}</td>
                <td class="mat-cell">{{(forScenario$ | async)?.fcfValuationResult.marketValueTotalAssets}}</td>
                <td class="mat-cell">{{(forScenario$ | async)?.fcfValuationResult.totalLiabilities}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div [hidden]="!showFte" class="flex-item">
          <mat-divider></mat-divider>
          <h1>Ergebnis FTE</h1>
          <table class="mat-table">
            <thead>
              <tr class="mat-header-row">
                <th class="mat-header-cell">Unternehmenswert</th>
              </tr>
            </thead>
            <tbody>
              <tr class="mat-row">
                <td class="mat-cell">{{(forScenario$ | async)?.fteValuationResult.companyValue}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Zurück</button>
        <button mat-button color="primary" (click)="nextStep()">Ende</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>