mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 8;
}

#logo-link {
    display: flex;
}

#logo {
    height: 50px;
    width: auto;
}

#user-menu-btn {
    margin-left: auto;
}

::ng-deep app-projects, ::ng-deep app-create-project, ::ng-deep app-project-detail, ::ng-deep app-login, ::ng-deep app-registration, ::ng-deep app-changepassword, ::ng-deep app-newpassword {
    width: 100%;
    min-height: calc(100% - 64px);
    display: block;
}

::ng-deep .content-conatiner {
    display: block;
}