mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 8;
}

#logo-link {
    display: flex;
}

#logo {
    height: 50px;
    width: auto;
}

::ng-deep app-scenarios, ::ng-deep app-create-scenario, ::ng-deep app-scenario-detail, ::ng-deep app-login {
    width: 100%;
    min-height: calc(100% - 64px);
    display: block;
}

::ng-deep .content-conatiner {
    display: block;
}

::ng-deep .snack-mat-warn {
    background: #c62828;
    color: #FFF;
}