<div class="content-container">
        <mat-card class="new-card">
          <mat-card-content>
      
            <mat-card-title>Passwort ändern</mat-card-title>
            <mat-divider></mat-divider>

                <form [formGroup]="newFormGroup" id="new-form" (ngSubmit) = "onSubmit()">
                    <p>
                        <mat-icon class="new-icon">lock</mat-icon>  
                        <mat-form-field>
                          <input [type]="hide_pw1 ? 'passwordnew1' : 'text'" id="passwordnew1" name="passwordnew1" matInput placeholder="Neues Passwort" formControlName="pwdNew1">
                          <mat-icon matSuffix (click)="hide_pw1 = !hide_pw1">{{hide_pw1 ? 'visibility' : 'visibility_off'}}</mat-icon>
                          <mat-error>
                                Bitte ein Passwort mit mind. 6 Zeichen eingeben
                          </mat-error>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-icon class="new-icon">lock</mat-icon>
                        <mat-form-field>
                            <input [type]="hide_pw2 ? 'passwordnew2' : 'text'" id="passwordnew2" name="passwordnew2" matInput placeholder="Neues Passwort wiederholen" formControlName="pwdNew2">
                            <mat-icon matSuffix (click)="hide_pw2 = !hide_pw2">{{hide_pw2 ? 'visibility' : 'visibility_off'}}</mat-icon>
                            <mat-error>
                                Bitte ein Passwort mit mind. 6 Zeichen eingeben
                            </mat-error>
                        </mat-form-field>
                    </p>
                    <br>
                    <button mat-raised-button [disabled]="submitted" color="accent" class="new-btn">Passwort zurücksetzen</button>
                </form>
    </mat-card-content>
    </mat-card>
</div>