.scrollable {
    overflow-x: auto;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding-top: 150px;
}

.mat-table {
    text-align: right;
}

.mat-header-cell, .mat-cell {
    padding: 5px 20px;
}

.mat-header-cell {
    font-size: 14px;
    border-right: 1px solid #CCC;
}

.mat-header-row > th, .mat-header-row > td {
    border-bottom: 1px solid #CCC;
    position: relative;
}

.table-input-right {
    text-align: right;
    width: 80px;
}

#remove_year {
    position: absolute;
}

.leveraged-field {
    display: inline-block;
    position: absolute;
    top: -10px;
    padding: 10px;
    bottom: 0;
    background: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.indicator {
    border-left: 2px solid green;
}

.leveraged-field > mat-form-field {
    flex-grow: 0;
}

#startyear-container {
    left: 0;
    transform: translateY(-100%);
    align-items: flex-start;
}
