<div [formGroup]="formGroup" *ngIf="_editable">
  <mat-slide-toggle formControlName="calculateFcf">Free Cashflow-Werte aus GuV-Werten berechnen</mat-slide-toggle>
</div>
<div class="scrollable" #scrollable>
  <table class="mat-table">
    <thead>
      <tr class="mat-header-row">
        <th class="mat-header-cell"><div class="bold">Jahr</div>Quartal</th>
        <ng-container *ngFor="let element of formGroup.controls.liabilities?.controls.timeSeries.controls; let i = index; trackBy: trackByYearQuarter">
          <th class="mat-cell" *ngIf="element.value.year >= startYear && element.value.year <= endYear">
            <div id="startyear-container" class="leveraged-field _editable" *ngIf="_editable && element.value.year === startYear && element.value.quarter === 1">
              <mat-form-field class="table-input-right" [formGroup]="formGroup">
                <input type="number" matInput formControlName="startYear" required placeholder="Startjahr" (input)="checkStartYearIntegrity($event)">
              </mat-form-field>
              <div class="indicator"></div>
            </div>
            <div id="baseyear-container" class="leveraged-field" [class._editable]="_editable" *ngIf="element.value.year === formGroup.value.baseYear && element.value.quarter === 1">
              <span *ngIf="!_editable">
                <small>Basisjahr</small>
                {{formGroup.value.baseYear}}
              </span>
              <mat-form-field class="table-input-right" *ngIf="_editable" [formGroup]="formGroup">
                <input type="number" matInput formControlName="baseYear" required placeholder="Basisjahr" (input)="checkBaseYearIntegrity($event)">
              </mat-form-field>
              <div class="indicator"></div>
            </div>
            <div id="endyear-container" class="leveraged-field _editable" *ngIf="_editable && element.value.year === endYear && element.value.quarter === 4">
              <mat-form-field class="table-input-right" [formGroup]="formGroup" (focusout)="updateTable()">
                <input type="number" matInput formControlName="endYear" required placeholder="Endjahr" (input)="checkEndYearIntegrity($event)">
              </mat-form-field>
              <div class="indicator"></div>
            </div>
            <div *ngIf="i === 0 || this.formGroup.controls.liabilities?.controls.timeSeries.at(i-1).value.year !== element.value.year" class="bold">{{element.value.year}}</div>
            {{element.value.quarter}}
          </th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let ctrl of keys(paramData)">
        <tr class="mat-row" *ngIf="[undefined, formGroup.value.calculateFcf].indexOf(paramData[ctrl].showOnCalculation) > -1">
          <th class="mat-header-cell" [formGroup]="formGroup.controls[ctrl]">
            {{paramData[ctrl].displayName}}
            <mat-checkbox formControlName="isHistoric" *ngIf="_editable">Prognostizieren</mat-checkbox>
            <div *ngIf="!_editable" class="no-bold">&nbsp;{{formGroup.controls[ctrl].value.isHistoric ? 'Wird prognostiziert' : ''}}</div>
          </th>
          <td class="mat-cell" *ngFor="let element of formGroup.controls[ctrl].controls.timeSeries.controls; trackBy: trackByYear">
            <ng-container *ngIf="(element.value.year < formGroup.value.baseYear) === formGroup.controls[ctrl].value.isHistoric">
              <span class="table-data" *ngIf="!_editable">{{element.value.amount}}</span>
              <mat-form-field class="table-input-right" [formGroup]="element" *ngIf="_editable">
                <input type="text" matInput formControlName="amount" appToDouble required>
              </mat-form-field>
            </ng-container>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>