<div [formGroup]="formGroup">
  <mat-slide-toggle formControlName="calculateFcf">Free Cashflow-Werte aus GuV-Werten berechnen</mat-slide-toggle>
</div>
<div class="scrollable" [formGroup]="formGroup" #scrollable>
  <table class="mat-table">
    <thead>
      <tr class="mat-header-row">
        <th class="mat-header-cell">Jahr</th>
        <ng-container *ngFor="let element of formGroup.controls.timeSeries.controls; trackBy: trackByYear">
          <th class="mat-cell" *ngIf="element.value.year > formGroup.value.startYear && element.value.year <= formGroup.value.endYear">
            <div id="startyear-container" class="leveraged-field" *ngIf="element.value.year === formGroup.value.startYear + 1">
              <span *ngIf="!editable">
                {{formGroup.value.startYear}}
              </span>
              <mat-form-field class="table-input-right" *ngIf="editable">
                <input type="number" matInput formControlName="startYear" required>
              </mat-form-field>
              <div class="indicator"></div>
            </div>
            {{element.value.year}}
          </th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let ctrl of groupParams">
        <tr class="mat-row" *ngIf="paramData[ctrl] && [undefined, formGroup.value.calculateFcf].indexOf(paramData[ctrl]?.showOnCalculation) > -1">
          <th class="mat-header-cell">{{paramData[ctrl].displayName}}</th>
          <td class="mat-cell" *ngFor="let element of formGroup.controls.timeSeries.controls; trackBy: trackByYear">
            <span class="table-data" *ngIf="!editable">element.value[ctrl]</span>
            <mat-form-field class="table-input-right" [formGroup]="element" *ngIf="editable">
              <input type="text" matInput [formControlName]="ctrl" appToDouble required>
            </mat-form-field>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>