.scrollable {
    overflow-x: auto;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding-top: 80px;
}

.mat-table {
    text-align: right;
}

.mat-header-cell, .mat-cell {
    padding: 5px 20px;
}

.mat-header-cell {
    font-size: 14px;
    border-right: 1px solid #CCC;
}

.mat-header-row > th, .mat-header-row > td {
    border-bottom: 1px solid #CCC;
    position: relative;
    font-weight: normal;
    vertical-align: bottom;
}

.bold {
    font-weight: bold;
}

.table-input-right {
    text-align: right;
    width: 80px;
}

#remove_year {
    position: absolute;
}

.leveraged-field {
    position: absolute;
    top: -60px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.indicator {
    border-left: 1px solid #ccc;
    flex-grow: 1;
    margin-top: -16px;
}

.leveraged-field > mat-form-field {
    flex-grow: 0;
}

#startyear-container {
    left: -3px;
    transform: translateX(-50%);
    align-items: center;
}

mat-checkbox {
    display: block;
    font-weight: normal;
}
