/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
}

body {
    background: #f5f5f5;
    font-family: 'Roboto', sans-serif;
}

.content-container {
    padding: 16px;
    overflow: hidden;
    display: block;
}

.mat-fab.fab-bottom-right {
    position: fixed;
    bottom: 24px;
    right: 24px;
}