/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
}

body {
    background: #f5f5f5;
}

.content-container {
    padding: 30px;
}

.mat-fab.fab-bottom-right {
    position: fixed;
    bottom: 40px;
    right: 40px;
}