<div class="content-container">
    <mat-card class="delete-card" [class.busy]="submitted">
        <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
        <mat-card-title>Account wirklich löschen?</mat-card-title>
        <mat-card-content>
            <form [formGroup]="deleteFormGroup" id="delete-form" (ngSubmit)="onSubmit()">
                <p>
                    <mat-icon class="delete-icon">lock</mat-icon>
                    <mat-form-field>
                        <input [type]="hide_pw1 ? 'password' : 'text'" id="password" name="password" required matInput placeholder="Passwort" formControlName="pwdCtrl">
                        <button type="button" mat-icon-button matSuffix (click)="hide_pw1 = !hide_pw1">
                            <mat-icon>{{hide_pw1 ? 'visibility' : 'visibility_off'}}</mat-icon>
                        </button>
                        <mat-error>
                            Bitte ein Passwort mit mind. 6 Zeichen eingeben
                        </mat-error>
                    </mat-form-field>
                </p>
                <br>
                <button mat-raised-button [disabled]="submitted" color="accent" id="delete-btn">Account löschen</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>