<div class="content-container">
  <h1>Neues Projekt erstellen</h1>
  <mat-vertical-stepper linear [class.navigation-disabled]="busy">
    <mat-step label="Grundlegendes" [stepControl]="formGroup1">
      <form [formGroup]="formGroup1">
        <mat-card class="form-container">
          <mat-card-title>Grundlegendes</mat-card-title>
          <mat-card-content>
            <mat-form-field>
              <input type="text" id="name" name="name" matInput placeholder="Name" required formControlName="name">
            </mat-form-field>
            <mat-form-field>
              <textarea id="description" name="description" matInput placeholder="Beschreibung" formControlName="description"></textarea>
            </mat-form-field>
            <div class="info">
              <h4>Aus bestehendem Projekt erstellen</h4>
              <p>
                Die können bereits bestehende Projekte als Vorlage für dieses Projekt nutzen. Wählen Sie hierzu über den folgenden Button
                einfach ein Projekt aus, um dessen Daten in die Eingabefelder zu übertragen.
              </p>
              <div class="info-action">
                <button mat-button type="button" color="accent" (click)="openSelectionSheet()">Bestehendes Projekt auswählen</button>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions class="stepper-actions">
            <a mat-button routerLink="">Abbrechen</a>
            <button mat-raised-button color="accent" matStepperNext>Weiter</button>
          </mat-card-actions>
        </mat-card>
      </form>
    </mat-step>
    <mat-step label="Methode wählen" [stepControl]="formGroup2">
      <form [formGroup]="formGroup2">
        <mat-card class="form-container">
          <mat-card-title>Methode & Algorithmus</mat-card-title>
          <mat-card-content>
            <label class="grey" for="method">Berechnungsmethode</label>
            <mat-radio-group id="method" name="method" formControlName="deterministic" required>
              <mat-radio-button [value]="true">Deterministisch</mat-radio-button>
              <mat-radio-button [value]="false">Stochastisch</mat-radio-button>
              <mat-form-field class="inline" [ngClass]="{disabled: this.formGroup2.value.deterministic}">
                <input type="number" id="prognosisLength" name="prognosisLength" matInput placeholder="Anzahl Prognosejahre" formControlName="prognosisLength"
                [readonly]="this.formGroup2.value.deterministic" required>
              </mat-form-field>
            </mat-radio-group>
            <label class="grey" for="algorithm">Algorithmus</label>
            <mat-radio-group id="algorithm" name="algorithm" formControlName="algorithm" required>
              <mat-radio-button value="apv">
                APV
                <mat-icon matTooltip="Das APV-Verfahren, auch Konzept des angepassten Barwerts, zählt - wie der WACC-Ansatz oder der TCF-Ansatz - zu den Entity-Methoden der DCF-Bewertung. Im Rahmen dieser Verfahren wird der Wert des Eigenkapitals eines Unternehmens durch Abzug der Nettofinanzverbindlichkeiten von dem Unternehmensgesamtwert (Entity Value) ermittelt. ">help</mat-icon>
              </mat-radio-button>
              <mat-radio-button value="fcf">
                FCF
                <mat-icon matTooltip="">help</mat-icon>
              </mat-radio-button>
              <mat-radio-button value="fte">
                FTE
                <mat-icon matTooltip="">help</mat-icon>
              </mat-radio-button>
            </mat-radio-group>
            <mat-form-field class="inline">
              <input type="number" id="iterations" name="iterations" matInput placeholder="Anzahl Iterationen" formControlName="iterations"
                required>
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions class="stepper-actions">
            <button mat-button matStepperPrevious>Zurück</button>
            <button mat-raised-button color="accent" matStepperNext>Weiter</button>
          </mat-card-actions>
        </mat-card>
      </form>
    </mat-step>
    <mat-step label="Zahlungsreihe angeben" [stepControl]="formGroup3">
      <form [formGroup]="formGroup3" (ngSubmit)="createProject()">
        <mat-card class="form-container" [class.busy]="busy">
          <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
          <mat-card-title>Zahlungsreihe</mat-card-title>
          <mat-card-content>
            <mat-form-field class="inline">
              <input (input)="updateTable()" type="number" id="baseYear" name="baseYear" matInput placeholder="Basisjahr" formControlName="baseYear"
                required>
            </mat-form-field>
            <div class="scrollable" #scrollable>
              <table class="mat-table">
                <thead>
                  <tr class="mat-header-row">
                    <th class="mat-header-cell">Jahr</th>
                    <th class="mat-cell" *ngIf="!formGroup2.value.deterministic">{{(timeSeries.at(0) && timeSeries.at(0).value.year - 1) || formGroup3.value.baseYear}}</th>
                    <ng-container *ngFor="let element of timeSeries.controls; trackBy: trackByYear">
                      <th class="mat-cell" *ngIf="(element.value.year > formGroup3.value.baseYear) === formGroup2.value.deterministic || element.value.year === formGroup3.value.baseYear">
                        <button type="button" id="remove-year" (click)="removeYear()" mat-icon-button *ngIf="timeSeries.controls.indexOf(element) === (formGroup2.value.deterministic ? timeSeries.length - 1 : 0)">
                          <mat-icon>delete</mat-icon>
                        </button>
                        {{element.value.year}}
                      </th>
                    </ng-container>
                    <th class="mat-cell" *ngIf="formGroup2.value.deterministic">{{(timeSeries.at(timeSeries.length - 1) && timeSeries.at(timeSeries.length - 1).value.year + 1) || formGroup3.value.baseYear}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="mat-row">
                    <th class="mat-header-cell">Fremdkapital</th>
                    <td *ngIf="!formGroup2.value.deterministic" rowspan="2" class="mat-cell">
                      <button type="button" (click)="addYear()" color="accent" mat-icon-button>
                        <mat-icon>add</mat-icon>
                      </button>
                    </td>
                    <ng-container *ngFor="let element of timeSeries.controls; trackBy: trackByYear">
                      <td class="mat-cell" *ngIf="(element.value.year > formGroup3.value.baseYear) === formGroup2.value.deterministic || element.value.year === formGroup3.value.baseYear">
                        <mat-form-field class="table-input-right" [formGroup]="element">
                          <input type="text" matInput formControlName="externalCapital" appToDouble required>
                        </mat-form-field>
                      </td>
                    </ng-container>
                    <td *ngIf="formGroup2.value.deterministic" rowspan="2" class="mat-cell">
                      <button type="button" (click)="addYear()" color="accent" mat-icon-button>
                        <mat-icon>add</mat-icon>
                      </button>
                    </td>
                  </tr>
                  <tr class="mat-row" #fcfrow>
                    <th class="mat-header-cell">FCF</th>
                    <ng-container *ngFor="let element of timeSeries.controls; trackBy: trackByYear">
                      <td class="mat-cell" *ngIf="(element.value.year > formGroup3.value.baseYear) === formGroup2.value.deterministic || element.value.year === formGroup3.value.baseYear">
                        <mat-form-field class="table-input-right" [formGroup]="element">
                          <input type="text" matInput formControlName="fcf" appToDouble required>
                        </mat-form-field>
                      </td>
                    </ng-container>
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-card-content>
          <mat-card-actions class="stepper-actions">
            <button mat-button matStepperPrevious [disabled]="busy">Zurück</button>
            <button mat-raised-button matStepperNext color="accent" [disabled]="busy">Projekt anlegen</button>
          </mat-card-actions>
        </mat-card>
      </form>
    </mat-step>
  </mat-vertical-stepper>
</div>