<div class="content-container">
  <h1>Neues Projekt erstellen</h1>
    <mat-horizontal-stepper linear>
      <mat-step label="Grundlegendes" [stepControl]="stepperFormGroup1">
          <form [formGroup]="stepperFormGroup1">
        <div class="step-container">
          <div class="form-container">
            <h2>Grundlegendes</h2>
            <mat-form-field>
              <input type="text" id="name" name="name" matInput placeholder="Name" required formControlName="nameCtrl">
            </mat-form-field>
            <mat-form-field>
              <textarea id="description" name="description" matInput placeholder="Beschreibung" formControlName="descCtrl"></textarea>
            </mat-form-field>
            <div class="stepper-actions">
              <a mat-button routerLink="">Abbrechen</a>
              <button mat-raised-button color="primary" matStepperNext type="button">Weiter</button>
            </div>
          </div>
        </div>
        </form>
      </mat-step>
      <mat-step label="Methode wählen" [stepControl]="stepperFormGroup2">
          <form [formGroup]="stepperFormGroup2">
        <div class="step-container">
          <div class="form-container">
            <h2>Berechnungsmethode wählen</h2>
            <label class="grey" for="method">Berechnungsmethode</label>
            <mat-radio-group id="method" name="method" required>
              <mat-radio-button value="deterministic" checked>Deterministisch</mat-radio-button>
              <mat-radio-button value="stochastically">Stochastisch</mat-radio-button>
            </mat-radio-group>
            <label class="grey" for="algorithm">Algorithmus</label>
            <mat-radio-group id="algorithm" name="algorithm" required>
              <mat-radio-button value="apv">APV</mat-radio-button>
              <mat-radio-button value="fcf" checked>FCF</mat-radio-button>
              <mat-radio-button value="fte">FTE</mat-radio-button>
            </mat-radio-group>
            <div class="stepper-actions">
              <button mat-button matStepperPrevious type="button">Zurück</button>
              <button mat-raised-button color="primary" matStepperNext type="button">Weiter</button>
            </div>
          </div>
        </div>
        </form>
      </mat-step>
      <mat-step label="Zahlungsreihe angeben" [stepControl]="stepperFormGroup3">
          <form [formGroup]="stepperFormGroup3">
        <div class="step-container">
          <div class="form-container">
            <h2>Zahlungsreihe angeben</h2>
            <div class="stepper-actions">
              <button mat-button matStepperPrevious type="button">Zurück</button>
              <button mat-raised-button color="accent" type="submit">Projekt anlegen</button>
            </div>
          </div>
        </div>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
</div>