.step-container {
    display: flex;
    justify-content: center;
}

.form-container {
    min-width: 400px;
}

mat-form-field:not(.inline) {
    display: block;
}

.stepper-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

mat-radio-group {
    display: flex;
    flex-direction: column;
    margin: 5px 0 20px;
}
  
mat-radio-button {
    margin: 5px 0 5px;
}

label.grey {
    color: rgba(0,0,0,0.54);
    font-size: 12px;
}